<div class="row">
    <div class="col-md-6">
        <h3>Language specific Views</h3>
        <p>Effortless language specific views! There are no changes needed to your existing code to get these working.</p>
        <p>Just define the languages you want to check for and then create each specific view adding on <code>&lt;view&gt;_&lt;language&gt;.cshtml</code> to the end of it. <code>ViewEnginePlus</code> will look for any matched view and server it to the user based on your predefined test.</p>

        <h3>Examples</h3>
        <p>Here are a few example named files to help you out.</p>
        <ul>
            <li><code>Index_ie.cshtml</code> - a case for Ireland</li>
            <li><code>Index_dk.cshtml</code> - a case for Denmark</li>
            <li><code>Index_se.cshtml</code> - a case for Sweden</li>
            <li><code>Index_nl.cshtml</code> - a case for Netherlands</li>
            <li><code>Index_nl_debug.cshtml</code> - a case for Netherlands & Debug only</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Controller example</h3>
        <p>There are no changes needed to your controllers. Just set them up as normal.</p>
        <div class="highlight"><pre class="prettyprint"><code class="html">public class LanguageController : Controller
{
    public ActionResult Index()
    {
        return View();
    }
}</code></pre></div>
    </div>
</div>