@{
    ViewBag.Title = "Language specific views";
}

@section featured {
    <div class="jumbotron">
        <div class="container">
            <h1>Tuairimí sonracha Teanga</h1>
            <p>This is the <strong>Ireland</strong> view</p>
        </div>
    </div>
}

@Html.Partial("_LanguageContent")