<div class="alert alert-info">
    <p><strong>Heads up!</strong> This is the Debug only view</p>
    <p>Heres some data for you</p>
    <ul style="margin:10px 0 0">
        <li>View Case: @ViewEnginePlus.ViewEnginePlus.viewCase</li>
        <li>View name: @ViewEnginePlus.ViewEnginePlus.viewName</li>
        <li>Original name: @ViewEnginePlus.ViewEnginePlus.originalViewName</li>
        <li>Folder Case: @ViewEnginePlus.ViewEnginePlus.folderCase</li>
        
    </ul>
</div>