@{
    ViewBag.Title = "Theme specific views";
}

@section featured {
    <div class="jumbotron">
        <div class="container">
            <h1>Theme specific views</h1>
            <p>This is the <strong>Test</strong> page, but it wont change</p>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-6">
        <h3>Debug specific Views</h3>
        <p>Effortless Debug onlyc views! There are no changes needed to your existing code to get these working.</p>
        <p>Just create a view with <code>_debug</code> on the end and we will do the rest. For example <code>&lt;view&gt;_debug.cshtml</code>.</p>
        <p><code>ViewEnginePlus</code> will always look for a debug file if you are running locally or the host matches a pre-defined list of whitelisted sites.</p>

        <h3>Examples</h3>
        <p>Here are a few example named files to help you out.</p>
        <ul>
            <li><code>Index_debug.cshtml</code> - use it on the root url in a controller</li>
            <li><code>ProductPage_debug.cshtml</code> - works just the same for any action though</li>
            <li><code>Checkout_debug.cshtml</code> - output debug information form your payment gateway</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Controller example</h3>
        <p>There are no changes needed to your controllers. Just set them up as normal.</p>
        <div class="highlight"><pre class="prettyprint"><code class="html">public class ProductController : Controller
{
    public ActionResult Index()
    {
        return View();
    }
}</code></pre></div>
    </div>
</div>